/* DEBUG */
/**{
    outline: 2px solid green;
}*/

/* variables */
:root {
  --rojo-carmesi: #DC143C;
  --rojo-oscuro: #BB143A;
  --negro-azabache: #1c1b1b;
  --gris-oscuro: #343031;
  --gris-claro: #C8C6CE;
  --verde-musgo: #2f4538;
  --amarillo-dorado: #CDA434;
  --azul-medianoche: #191970;
  --blanco-puro: #ffffff;
  --negro-puro: #000000;
}

/* reset */
body, p, a, ul, li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li{
    list-style-type: none;
}

/* estilos generales */
::-moz-selection { /* seleccion para firefox */
  color: var(--blanco-puro);
  background: var(--rojo-carmesi);
}

::selection {
  color: var(--blanco-puro);
  background: var(--rojo-carmesi);
}

body{
    background-color: var(--negro-azabache);
    box-sizing: border-box;
}

p, li, a, i, h2, h1{
    color: var(--blanco-puro);
}

/* fonts */
body{
    font-family: 'Inter', 'sans-serif';
}

/* estilos para celular */

/* BARRA DE NAVEGACION */
.header__nav div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    border-bottom: 2px solid var(--rojo-carmesi);
}

.container-open{
    display: block;
}

.header__nav div i{
    font-size: 2.5rem;
    cursor: pointer;
}

.header__logo{
    width: 15%;
    height: 15%;
}

.nav__ul-activate{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
    border-bottom: 2px solid var(--rojo-carmesi);
    background: var(--negro-azabache);
    transition: 0.4s;
}

.nav__ul{
    position: absolute;
    top: -500%;
}

.ul__li{
    background: var(--gris-oscuro);
    width: 40vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

/* PRINCIPAL */
.principal{
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.principal article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;  
    text-align: center;
}

.principal__buttons{
    display: flex;
    gap: 0.6rem;
    flex-wrap: wrap;
    width: 100%;
}

.principal__buttons button{
    width: 100%;
    height: 2.5rem;
}

.principal__buttons a{
    width: 100%;
}

.article__button-wn{
    background: var(--rojo-carmesi);
    border: none;
    color: var(--blanco-puro);
    border-radius: 4px;
}

.article__button-wn:hover{
    cursor: pointer;
    background: var(--rojo-oscuro);
    transition: 0.2s;
    transform: scale(0.98);;
}

.article__button-lm{
    border: solid 2px var(--rojo-carmesi);
    background: rgba(99, 22, 66, 0.05);
    color: var(--rojo-carmesi);
    border-radius: 2px;
}

.article__button-lm:hover{
    cursor: pointer;
    transition: 0.2s;
    transform: scale(0.98);;
}

.principal h1{
    font-size: 2rem;
    margin-bottom: -0.8rem;
    margin-top: -0.2rem;
}

.principal h1{
    color: var(--blanco-puro);
}

.principal p{
    color: var(--gris-claro);
}

.principal div{
    display: flex;
    align-content: center;
    justify-content: center;
}

.principal div img{
    width: 100%;
    height: 100%;
    margin-top: 0.4rem;
    border: solid 2px var(--gris-oscuro);
    border-radius: 4px;
}

/* SECUNDARIO */
.secundario{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.secundario__article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    border-top: 2px solid var(--rojo-carmesi);
}

.secundario__article h2{
    margin: 0;
}

.secundario__article p{
    color: var(--gris-claro);
    text-align: center;
    border-bottom: 2px solid var(--rojo-carmesi);
    padding: 1rem 0;
}

.cards__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    background: #222122;
    padding: 1rem;
    margin: 1rem 0;
    border: 2px solid var(--gris-oscuro);
    cursor: pointer;
    transition: transform 0.2s;
}

.cards__card h2{
    text-align: center;
}

.cards__card:hover{
    transform: scale(0.98);;
}

.cards__card p{
    color: var(--gris-claro);
    text-align: center;
}

.cards__card button{
    width: 10rem;
    height: 2.5rem;
    margin-top: 1rem;
}

.card__button-lm{
    background: var(--rojo-carmesi);
    border: none;
    color: var(--blanco-puro);
    border-radius: 4px;
}

.card__button-lm:hover{
    cursor: pointer;
    background: var(--rojo-oscuro);
    transition: 0.2s;
}

.terciario{
    padding: 1rem;
}

.terciario__h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    color: var(--blanco-puro);
    border-top: 2px solid var(--rojo-carmesi);
    border-bottom: 2px solid var(--rojo-carmesi);
}

/* contenedor de la galeria */
.terciario__galeria {
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* escone las imagenes por default */
.slides {
    display: none;
}

.terciario__galeria article{
    position: absolute;
}

.terciario__galeria article div{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    max-width: 320px;
    padding: 1rem;
}

/* botones de atras y adelante */
.prev, .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    margin: 0 0.6rem;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 0 4px 4px 0;
    user-select: none;
}

/* pone el boton de siguiente a la derecha */
.next {
    border-radius: 4px 0 0 4px;
}

/* agrega un fondo oscuro con opacidad cuando se hace hover */
.prev:hover, .next:hover {
    color: var(--rojo-carmesi);
}

/* texto o "caption" */
.text {
    color: #f2f2f2;
    font-size: 1rem;
    width: 100%;
    text-align: center;
}

/* los numeros de las fotos (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 0.8rem;
    padding:0.68rem 0.8rem;
    position: absolute;
    top: 0;
    background: var(--rojo-carmesi);
}

/* puntitos abajo de las fotos */
.dot {
    cursor: pointer;
    height: 0.9rem;
    width: 0.9rem;
    margin: 0 0.125rem;
    background-color: var(--gris-oscuro);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: var(--rojo-carmesi);
}

/* animacion de fade */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}

.slides div a{
    border: 2px solid var(--rojo-carmesi);
    background: rgba(99, 22, 66, 0.05);
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    transition: 0.2s;
}

.slides div a:hover{
    transform: scale(0.98);;
}

footer{
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 2px solid var(--rojo-carmesi);
}

footer h3{
    color: var(--gris-claro);
    font-size: 1rem;
}

/* estilos para tablets chicas */
@media screen and (min-width: 620px){
}

/* estilos para tablets grandes y laptops */
@media screen and (min-width: 960px){
    .nav__toggle{
        display: none;
    }
    .nav__ul {
        flex-direction: row;
    }

    .nav__ul li{
        display: block;
    }
}

/* estilos para desktop */
@media screen and (min-width: 1200px){
    .icon{
        display: none;
    }
    .nav__ul {
        display: flex;
        position: relative;
        top: -500%;
        flex-direction: row;
        margin-right: 1.5rem;
        justify-content: end;
        gap: 0.4rem;
    }

    .nav__ul li{
        display: flex;
        width: 8rem;
    }

    .header__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 2px var(--rojo-carmesi);
    }

    .header__nav div{
        display: inline;
        border-bottom: none;
    }

}
