
/* variables */
:root {
  --rojo-carmesi: #DC143C;
  --rojo-oscuro: #BB143A;
  --negro-azabache: #1c1b1b;
  --gris-oscuro: #383435;
  --verde-musgo: #2f4538;
  --amarillo-dorado: #CDA434;
  --azul-medianoche: #191970;
  --blanco-puro: #ffffff;
  --negro-puro: #000000;
}

/* reset */
body, p, a, ul, li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li{
    list-style-type: none;
}

/* estilos generales */
body{
    background-color: var(--negro-azabache);
    box-sizing: border-box;
}

p, li, a, i{
    color: var(--blanco-puro);
}

/* fonts */
body{
    font-family: 'Inter', 'sans-serif';
}

/* estilos para celular */

/* BARRA DE NAVEGACION */
.header__nav{
    position: sticky;
}

.header__nav div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    border-bottom: 2px solid var(--rojo-carmesi);
}

.container-open{
    display: block;
}

.header__nav div i{
    font-size: 2.5rem;
    cursor: pointer;
}

.header__logo{
    width: 15%;
    height: 15%;
}

.nav__ul-activate{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
    border-bottom: 2px solid var(--rojo-carmesi);
    background: var(--negro-azabache);
    transition: 0.4s;
}

.nav__ul{
    position: absolute;
    top: -500%;
}

.ul__li{
    background: var(--gris-oscuro);
    width: 40vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

/* PRINCIPAL */
.principal{
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.principal article{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
}

.principal__buttons{
    display: flex;
    gap: 0.6rem;
}

.principal__buttons button{
    width: 10rem;
    height: 2.5rem;
}

.article__button-wn{
    background: var(--rojo-carmesi);
    border: none;
    color: var(--blanco-puro);
    border-radius: 4px;
}

.article__button-wn:hover{
    cursor: pointer;
    background: var(--rojo-oscuro);
}

.article__button-lm{
    border: solid 2px var(--rojo-carmesi);
    background: transparent;
    color: var(--rojo-carmesi);
    border-radius: 4px;
}

.article__button-lm:hover{
    cursor: pointer;
    background: rgba(99, 22, 66, 0.1);
}

.principal h1{
    font-size: 2rem;
    margin-bottom: -0.8rem;
}

.principal h1, p{
    color: var(--blanco-puro);
}

.principal div{
    display: flex;
    align-content: center;
    justify-content: center;
}

.principal div img{
    width: 100%;
    height: 100%;
    margin-top: 0.4rem;
    border: solid 2px var(--gris-oscuro);
    border-radius: 4px;
}

/* estilos para tablets chicas */
@media screen and (min-width: 620px){
}

/* estilos para tablets grandes y laptops */
@media screen and (min-width: 960px){
    .nav__toggle{
        display: none;
    }
    .nav__ul {
        flex-direction: row;
    }

    .nav__ul li{
        display: block;
    }
}

/* estilos para desktop */
@media screen and (min-width: 1200px){
    .icon{
        display: none;
    }
    .nav__ul {
        display: flex;
        position: relative;
        top: -500%;
        flex-direction: row;
        margin-right: 1.5rem;
        justify-content: end;
        gap: 0.4rem;
    }

    .nav__ul li{
        display: flex;
        width: 8rem;
    }

    .header__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 2px var(--rojo-carmesi);
    }

    .header__nav div{
        display: inline;
        border-bottom: none;
    }

}
